$color-green: #a5c05b;
$color-orange: #f7a901;
$color-blue: #375e97;
$color-dark: #232122;
$color-grey: #dddede;
$color-white: #ffffff;

$main-colors: ();

$main-colors: map-merge(
    (
        "green": $color-green,
        "blue": $color-blue,
        "orange": $color-orange,
        "dark": $color-dark,
        "grey": $color-grey,
        "white": $color-white
    ),
    $main-colors
);

@each $color, $value in $main-colors {
    .fg--#{$color} {
        color: $value !important;
    }

    .bg--#{$color} {
        background-color: $value !important;
    }

    .bc--#{$color} {
        border-color: $value !important;
    }
}

.navbar-laravel {
    background-color: $color-white;
    // color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.profile {
    &-bio {
        max-width: 694px;
        padding: 16px 0;
        margin-top: 12px;
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $color-grey;
            width: 50px;
            height: 2px;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $color-grey;
            width: 25px;
            height: 2px;
        }
    }

    &-badges {
        display: flex;
        flex-direction: column;

        & div > div {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 8px;
        }
    }
}

.comment {
    border: 1px solid $color-grey;
    border-radius: 4px;
    padding: 4px 8px;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 12px;
    }
}

.commentator {
    &-name {
        font-weight: bold;
        font-size: 14px;
        color: $color-blue;
        margin-bottom: 4px;
    }

    &-comment {
        margin-bottom: 4px;
        padding-left: 8px;
    }

    &-remove {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        background: transparent;
        border-bottom-left-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            color: red;
            font-size: 12px;
        }
    }
}

.table-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .table-card {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;

        &:hover {
            background: #fafafa;
        }

        & > div:first-child {
            padding-right: 16px;
        }
    }

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.footer {
    background: #fafafa;

    h1 {
        font-size: 20px;
        margin-bottom: 16px;
    }

    p,
    td {
        font-weight: 400;
        font-size: 14px;
        color: rgba($color-dark, 0.8);
    }
}

.site-map {
    list-style-type: none;
    padding: 0;
    padding-left: 4px;

    li {
        a {
            color: rgba($color-dark, 0.8);

            &:hover {
                color: $color-dark;
            }
        }
    }
}

.our-img {
    img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 100px;
    }
}

.share-post a {
    color: white;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;

    &:not(:last-child) {
        margin-right: 1rem;
    }

    &.fb {
        background: #3b5998;
    }

    &.tw {
        background: #1da1f2;
    }

    &.tmb {
        background: #35465c;
    }
}
