/* html {
    font-size: 14px;
}

@media screen and (min-width: 768px) {

    html {
        font-size: 16px;
    }
} */

@import url("https://fonts.googleapis.com/css?family=Marck+Script");

.font-hw {
    font-family: "Marck Script", cursive;
}

.main-wrapper {
    margin-top: 55px;
}

.navbar {
    height: 55px;
}

.navbar-brand {
    font-size: 1.5rem;
}

.hero {
    min-height: calc(100vh - 55px);
    background-image: linear-gradient(
            to top right,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.5)
        ),
        url("../img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.hero h1 {
    font-family: "Marck Script", cursive;
    letter-spacing: -4.01px;
}

.form-group {
    position: relative;
}

.where-to-go {
    border-radius: 1000px;
    min-width: 400px;
    max-width: 100%;
    padding: 0.5rem 2rem;
    padding-right: 3rem;
}

.search-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    margin-right: 12px;
    color: grey;
}

.section {
    padding: 3rem 0;
}

.section-posts .where-to-go {
    border-radius: 1000px;
    min-width: 400px;
    max-width: 400px;
    padding: 0.5rem 2rem;
    padding-right: 3rem;
}

.section-posts .search-btn {
    margin-right: 12px;
    color: grey;
}

.section-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.card-author a {
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--secondary);
}

.card-author i {
    font-size: 0.75rem;
    margin-right: 0.25rem;
    color: var(--secondary);
}

.card-date {
    font-weight: 600;
    color: var(--secondary);
}

.card-date i {
    margin-right: 0.25rem;
}

.card-author i {
    font-size: 0.75rem;
    margin-right: 0.25rem;
    color: var(--secondary);
}

.img-cover {
    object-fit: cover;
    object-position: center;
}

.categories-card {
    will-change: box-shadow;
    transition: 0.2s box-shadow ease;
}

.categories-card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.categories-card .card-body {
    position: relative;
    padding-bottom: calc(37px + 1rem);
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}

.categories-card .card-body .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.categories-card img {
    height: 140px;
    object-fit: cover;
    object-position: center;
}

.categories-card .card-title {
    font-weight: 600;
}

.categories-card .card-comment {
    font-size: 14px;
    line-height: 1.3;
}

.section-blog-post .author-info p {
    font-weight: 600;
}

.section-blog-post .author-info p:not(:last-child) {
    margin-right: 1rem;
}

.section-blog-post .author-info p span {
    font-weight: 400;
}

.blog-image {
    margin: 0 .5rem;
    height: 160px;
    width: 100%;
    margin-top: 1rem;
}

.cke_bottom {
    padding: 6px 8px !important;
}

.profile-img {
    border-radius: 1000px;
    width: 100px;
    height: 100px;
}